.footer {
  width: 100%;
  padding: 1rem 2.2rem;
  background-color: #f2f4f4;
  font-family: "Rubik", sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.footer svg {
  fill: red;
  width: 14px;
  height: 14px;
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 768px) {
  .spanRight {
    display: none;
  }
}
